body
{
    text-align: center;
    font-family: 'Lora', serif;
    background: linear-gradient(#5c14c9 0%, #14a5c9 100%);
}
a:hover
{
    text-decoration:underline !important;
    font-size: 20px;
}
a
{
    color:#000;
}
.profile_img
{
    float: left;
    border-radius: 60%;
}